[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-knox = "*"
pytest = "*"
pytest-django = "*"

[scripts]
test = "pytest -rP"

[dev-packages]

[requires]
python_version = "3.12"
